 .CreateAuthor {
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
   width: 100%;

   //h4{
   //  color: #01589D; //change color
   //  border-bottom: solid 2px;
   //  width: fit-content;
   //}

   .IconClass{
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     color: red;
   }



   .title{
     font-size: 1.2rem;
     color: #0D493F;
     border-bottom: 1px solid #0D493F;
   }

   .createAuthorInput {
     margin-top: 1em;
    }
   .ButtonClass {
     display: flex;
     justify-content: center;
     color: white;
     margin-top: 25px;

     Button {
       color: white;
       background: #01589D;
       border-radius: 7px;
       border: none;
       width: 80%;
       padding: 1% 4% 1% 4%;
     }
   }

   //Input field
   .form-control {
     margin-bottom: 0;
     border-radius: 0;
   }
   //.form-control:focus {
   //  border-color: #ff80ff;
   //  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
   //}

   //Error messege
   .errormsg {
     color: red;
     font-style: italic;
     padding-top: 0;
     font-size: 0.8em;
   }
  }
 @include media-breakpoint-up(sm) {
   .CreateAuthor {
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
     width: 100%;

     .title {
       font-size: 1.3rem;
       color: #0D493F;
       border-bottom: 2px solid #0D493F;
     }

     .IconClass {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       cursor: pointer;
       color: red;
     }
   }

   @include media-breakpoint-up(xl){
     .CreateAuthor {
       display: flex;
       flex-direction: column;
       margin: 3.5em 1em 1em;
       width: 70vh;
       padding-left: inherit;

       .IconClass{
         display: flex;
         justify-content: flex-end;
         align-items: center;
         cursor: pointer;
         color: red;
       }

       .title{
         font-size: 140%;
         color: #0D493F;
         border-bottom: 2px solid #0D493F;
       }

       .createAuthorInput {
         margin-left: 3em;
         margin-top: 1em;
         input {

         }
       }
       .ButtonClass {
         display: flex;
         justify-content: flex-end;
         color: white;
         margin-top: 30px;

         Button {
           color: white;
           background: #01589D;
           border-radius: 7px;
           border: none;
           width: 28%;
           padding: 1% 4% 1% 4%;
         }
       }

       //Input field
       .form-control {
         margin-bottom: 0;
         border-radius: 0;
       }

       //Error messege
       .errormsg {
         color: red;
         font-style: italic;
         padding-top: 0;
         font-size: 0.8em;
       }
     }
   }

 }